{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<form action="/message" method="post">
    <div class="form-group">
        <input autocomplete="on" autofocus class="form-control" name="username" placeholder="Enter username"
            type="text">
        <input autocomplete="off" autofocus class="form-control" name="text" placeholder="Enter your message"
            type="text">
    </div>
    <button class="btn btn-primary" type="submit">Send!</button>
</form>
{% endblock %}